.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.custom-header{
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 13px;
}

.summary-font-color{
  color: rgba(120,120,120,255);
}

.seperation {
  color: #d7d7d7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  width: 90%;
}

.button-sequence {
  background-color: rgba(120,120,120,255);
  color: white;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
}

input[type="text"]::placeholder{
  color: #acacac;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-style: italic;
}

.faq-font-color {
  color: #616161;
  font-weight: bold;
}

.faq-font-ans-color{
  color: #616161;
}

.faq-a {
  color: black;
  text-decoration: underline;
}

.privacy-font-color {
  color: #616161;
}

.privacy-a {
  color: black;
  text-decoration: underline;
}

.signup-modal-title{
  color:#478A83;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-stretch: condensed !important;
  font-weight: 900 !important;
  font-size: 36px;
  margin-bottom: 24px;
}

.form-input{
  border-radius: 35px !important;
  height: 32px;
  width: 95%;
}

select{
  border-radius: 35px !important;
  height: 40px;
  width: 95%;
  color:#b1b1b1 !important;
  border-color: #ced4da ;
  padding-left: 5% !important;
  font-style: italic;
}

.form-label{
  color: #acacac;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  margin-left: 2%;
}

.verifycode-style{
  border-radius: 50% !important;
  border-color: #acacac;
  border-width: 1px;
  height: 100% !important;
  width: 100% !important;
  margin-top: 20px;
}

